<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | #0</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/0.jpg"> 
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Sidney George Wilson</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">January 20, 1977</p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">1998-present</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">#0</p>

			<p style="font-weight: bold">Position</p>
			<p>Disc Jockey, Pianist</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Sid Wilson</h2>
		<p>
			Sidney George Wilson (born January 20, 1977), known as Sid Wilson, is a turntablist for the musical group Slipknot.</p>
		<p>
			He also tours as DJ Starscream, a name taken from the popular 1980s television show Transformers (of which he has the shows symbols tattooed on the backs of his hands).
			He is currently signed to Japanese/US label Nitrous Oxide (N20) records. He performs jungle music. He has a big following in Japan, as most of his CDs are released there
			first and recently collaborated with The Mad Capsule Markets vocalist Kyono on a song called 'HAKAI (Deathtroy)' for the Death Note movie soundtrack He currently is involved
			with Ampt, with fellow N20 artist Rob Gee and The Sound Proof Coalition, whom he used to be a member of.
		</p>
		<h2 class="heading-line"> Life and career </h2>
		<p>
			Sid Wilson was born and raised in Des Moines, Iowa. He performs in the American band Slipknot, and also tours as DJ Starscream,
			a name which is derived from the Transformers character of the same name. He is a fan of the Transformers franchise and has Transformer tattoos.
			Musically within Slipknot, Wilson contributes scratching and background noises. He is also known to stage dive in Slipknot's early years, and in 2008,
			he broke both his heels when he jumped ten feet from the stage.
		</p>
		<p>
			Outside Slipknot, Wilson has made a following in Japan as a jungle musician, under the pseudonym DJ Starscream, and is currently signed to the Japanese
			record label N2O Records. He collaborated with The Mad Capsule Markets vocalist Hiroshi Kyono on a song called "HAKAI (Deathtroy)" released on The Songs
			for Death Note the Movie: The Last Name Tribute, a tribute album dedicated to the live action movie for the second Death Note film. A remix of the track also 
			appeared on the Wagdug Futuristic Unity mini-album Nu Riot and 2008 album Hakai.
		</p>
		<p>
			As of August 2010, he is touring with his solo band SID. He is the lead vocalist of the band. Wilson went on tour with his solo band, his last tour date was on September 5, 2010,
			at a music venue called Another Hole In The Wall, located in Steger, Illinois. He stated, "This is the best stop on the tour, I loved the crowd reaction. It really made me feel 
			like I got back to my roots." He also said that he will be touring with his solo project for a year or two. The debut album "SID" was released on September 13, 2011, for digital download.
			In 2013 he was a support act for Vamps at their shows in Los Angeles and New York.
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
