<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | #1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/1.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Nathan Jonas Jordison</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">April 26, 1975</p>
			
			<p style="font-weight: bold">Died</p>
			<p class="infobox-bottom">July 26, 2021 <span style="font-size: 10px">(Aged 46)</span></p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">1995–2013</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">#1</p>

			<p style="font-weight: bold">Position</p>
			<p>Drummer</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Joey Jordison</h2>
		<p>
			Nathan Jonas Jordison (April 26, 1975 – July 26, 2021), more commonly known as Joey Jordison, was an American drummer and guitarist.</p>
		<p>
			He was best known for his role as the drummer for Slipknot during the 1990s and 2000s until his departure in late 2013. He also substituted for drummer 
			John Dolyman of System Of A Down during a concert on October 31st, 2001 as well as filling in for Metallica's drummer Lars Ulrich in 2004's Download Festival.
			Joey also went on tour with Korn in 2007 before they started recording the new album and when Corey and Jim were in Stone Sour and Slipknot was on hiatus.
			He was also well known as the guitarist for Murderdolls, a glam metal/horror punk band which he founded in the 2000s, that was currently on hiatus.
			Joey played drums, Guitar, and Bass in addition to doing vocals.
		</p>
		<h2 class="heading-line"> Life and career </h2>
		<h style="font-size:35px;">Early Life </h>
		<p>
			Joey was born at Mercy Hospital in Des Moines, Iowa on April 26, 1975. He grew up in a rural area outside of Waukee where he used to play basketball on the street
			in front of his house. He embraced music at an early age, which he attributes to the influence of his parents: "they always sat me down in front of the radio,
			rather than the TV." He played guitar until receiving his first drum kit as a gift from his parents at age eight and started his first band while in elementary school.
			At a young age, Jordison's parents divorced; he and his two younger sisters stayed with their mother. His mother remarried and set up a funeral parlor where Jordison would
			occasionally help. Jordison has stated that he felt a sudden responsibility to be the man of the house, and this responsibility turned him odious in which he played drums.
			He later described them as "total speed-metal thrash". The band helped Jordison break new ground, playing for live crowds in support of local bands including Atomic Opera,
			which featured Jim Root, and Heads On The Wall, which featured Shawn Crahan. After a multitude of line-up changes including the presence of Craig Jones and Josh Brainard -
			who would later appear in Slipknot — The band released two demos in 1993: Visceral and Mud Fuchia. He cites Keith Moon, John Bonham, Peter Criss, Gene Krupa, and Buddy Rich
			as his main influences.
		</p>
		<p>
			After leaving school, Jordison was hired by a local music store called Musicland. In March 1994, after a recommendation from his new friend, he got a job at a Sinclair garage
			in Urbandale. Jordison worked the night shift, which he preferred, as it left his weekends free and allowed him to spend time with his friends and listen to music while working.
			In early 1995, Modifidious disbanded because of a shift in interest from thrash metal to death metal in America. Following this Jordison joined a local band called The Rejects as
			a guitarist, with whom he only played a couple of shows. Jordison was also involved in a band with Paul Gray and vocalist Don Decker, named Anal Blast. Gray also attempted to recruit
			him for another band, Body Pit, but he declined the invitation to remain in The Rejects. During the forming period of Slipknot, Paul recruited Joey to join a punk band called the Have
			Nots in the Spring of 1996. Joey would leave the Have Nots in February 1997 to "focus on Slipknot" but instead reformed the Rejects which would play Des Moines up until Slipknot left
			to record Slipknot's Self Titled album which Paul played in after the Have Nots broke up.
		</p>
		<h style="font-size:35px;">Slipknot</h>
		<p>
			On November 28, 1995, Mark Anthony Cadavos approached Jordison while he was working, offering him a position in a new project called The Pale Ones. Intrigued and at a point where he was
			"lost", Jordison attended rehearsals at Anders Colsefini's basement and immediately wanted to be part of this new band. Speaking of this moment he said, "I remember trying so hard not to
			smile, so I didn't look like I wanted to join, I remained poker-faced, but I thought they ruled." A lot of Slipknot's early development was discussed by band members while Jordison worked
			night shifts at Sinclair's garage. Slipknot would become pioneers to the New Wave of American Heavy Metal. Jordison was accompanied by two custom percussionists, giving their music a feel
			that Rolling Stone touted as "suffocating".
		</p>
		<p>
			In August 2010 Jordison was voted the best drummer of the past 25 years by readers of Rhythm magazine. Competitors included Mike Portnoy, Neil Peart, Phil Collins,
			Dave Grohl, etc. When asked to comment he stated "I'm at a loss for words. This is beyond unbelievable. Something like this reminds me every day why I continue to do this."
		</p>
		<p>
			On December 12, 2013, Slipknot announced through their official website that they had parted ways with Jordison, citing personal reasons.
			Jordison insists he did not quit the band and states that he was blindsided and shocked at the announcement. Jordison released a statement on Facebook saying:
		</p>
		<p>
			"To my fans, friends, and associates … I would like to start the New Year by addressing the recent rumors and speculation regarding my departure from Slipknot.
			I want to make it very clear that I did not quit Slipknot. This band has been my life for the last 18 years, and I would never abandon it, or my fans."
		</p>
		<h2 class="heading-line">Death</h2>
		<p>
			Jordison's family announced that he had died in his sleep on the night of July 26, 2021, at the age of 46. An official cause of death has yet to be released.
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
