<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | #3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/3.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Christopher Michael Fehn</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">February 24, 1973</p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">1998-2019</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">#3</p>

			<p style="font-weight: bold">Position</p>
			<p>Backup Vocals, Percussion</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Chris Fehn</h2>
		<p>
			Christopher Michael Fehn (born February 24, 1973) was one of two percussionists in the metal band Slipknot. </p>
		<p>
			Chris used a Pinocchio-style mask, which has been seen in many different colors and styles with the nose of the mask always staying at
			71⁄2 inches (about 19 cm) long. Chris's mask was most likely based on the masks worn by doctors during the Black Plague, where the nose
			was filled with herbs to 'protect' the doctor from inhaling the fumes of death, or possibly on the mask Alex wore during the rape scene from
			the film A Clockwork Orange. Chris liked to simulate masturbation with the nose of his mask during shows. Chris was a college football kicker
			before the start of Slipknot. He did most of the backup vocals together with Shawn "Clown" Crahan.
		</p>
		<h2 class="heading-line"> Life and career </h2>
		<p>
			Fehn was born and raised in Des Moines, Iowa. Prior to joining Slipknot, he played as a kicker on the Wayne State University Football team.
			Fehn joined the band around late August (early September) 1998, replacing percussionist Greg Welts, who was forced out of Slipknot after the
			band due to personal conflicts with drummer Joey Jordison which stemmed from Welts dating Jordison's sister. Fehn stands 6'1" in height and is of Norwegian descent.
		</p>
		<p>
			As well as lending his percussion talents to the band, Fehn has also sung backing vocals on a number of songs Slipknot has both recorded and performed live.
			Outside Slipknot, Fehn is a very keen golfer, and evidences this on the band's 2006 DVD, Voliminal: Inside the Nine, where he is interviewed while playing golf.
			Fehn describes himself as a "big fan of the band" and says of Slipknot, "the world needed something like this." Slipknot bassist Paul Gray stated in an interview 
			that Fehn "often brings humor to the band." and that they "definitely need that guy." Prior to joining Slipknot in 1998, Fehn was close friends with Slipknot's
			percussionist Shawn Crahan. According to Fehn, he had originally asked Crahan if he could be drummer Joey Jordison's drum tech. Shortly after his request was made,
			Fehn was given an offer to play custom percussion in the band. Fehn was then given a rough demo that contained all of Slipknot's songs. Fehn has said that "Spit It Out"
			was the song that stood out to him the most. Fehn then tried out on percussion and was subsequently made part of Slipknot. Of the nine members, Chris was the eighth to
			join the band.
		</p>
		<p>
			In the early years of Slipknot before their signing with Roadrunner Records, Fehn was an electrician. In a recent interview with Face Culture, Fehn said that the band
			members gave him a hard time in his early years with the band. He described that his time during the self-titled album era was his "hazing period" with the band. 
			His mask was featured in the movie Harold and Kumar Escape From Guantanamo Bay.
			On March 23, 2012, Chris welcomed his son into the world.
		</p>
		<h2 class="heading-line"> Departure from Slipknot</h2>
		<p>
			On March 14, 2019, Chris filed a lawsuit against the band citing withheld payments. Fehn specifically accused Corey Taylor and Shawn Crahan of setting up several
			band-related business entities, in different states, that collect money from the band. Fehn called for full forensic accounting to be done on all of the band's
			companies and assets in order to collect any profits and damages he may be owed.
		</p>
		<p>
			On March 17, 2019, it was announced that Fehn was no longer a member of the band, stating, "Slipknot's focus is on making album #6, and our upcoming shows around
			the world, our best ever. Chris knows why he is no longer a part of Slipknot. We are disappointed that he chose to point fingers and manufacture claims, 
			rather than doing what was necessary to continue to be a part of Slipknot. We would have preferred he not take the path that he has, but evolution in all
			things is a necessary part of this life. Long Live The Knot".
		</p>
	</div>
	<!-- TEXT END -->
	<footer>
		<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
	</footer>
</body>
</html>
