<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | #5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/5.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Craig Alan Jones</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">February 11, 1972</p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">1996-present</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">#5</p>

			<p style="font-weight: bold">Position</p>
			<p>Sampler</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Craig Jones</h2>
		<p>
			Craig Alan Jones (born February 11, 1972) also known as 133 (or 133 MHz), Pinhead, The Silent One, or by his number #5, is an American musician, best known as the sampler and keyboardist of Slipknot.</p>
		<h2 class="heading-line"> Life and career </h2>
		<p>
			Jones was born in Des Moines, Iowa. He previously played in various local extreme metal bands, including Modifidious, before joining Slipknot in February 1996.
			He was the replacement for the band's original guitarist, Donnie Steele, who left during the recording of their first album, Mate. Feed. Kill. Repeat. Because
			the band was almost completed with the album, he did not contribute to it, but he did receive credit for its sleeve concept and graphics in the liner notes.
			Before the year was over, Jones had been replaced by guitarist Mick Thomson, and he began to assume his role as the band's sampler and keyboardist.
		</p>
		<p>
			Jones is the only member of the band who is not interviewed completely unmasked on Voliminal: Inside the Nine. While he does not wear a mask during the interview,
			his face remains obstructed by a constant blur. Also, he does not speak during the segment featured on the film, nor during the extended version of the footage 
			featured on user-submitted content websites such as YouTube (originally from the Outside The Nine released DVD: Fan Club Propaganda Reel 1). He also speaks for 2 
			seconds at the beginning of Welcome To Our Neighborhood. He says, "133, number 5, sampling."
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
