<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | #6</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/6.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Michael Shawn Crahan</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">September 24, 1969</p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">1995-present</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">#6</p>

			<p style="font-weight: bold">Position</p>
			<p>Percussions</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Shawn Crahan</h2>
		<p>
			Michael Shawn Crahan (born September 24, 1969) is a percussionist in Slipknot. He uses a set of deeply tuned toms (drums).</p>
		<p>
			He has a height of 5'7". According to Slipknot, he was the first band member to wear a mask (he had an old clown mask).
			He found his mask sitting lonely in a shop one day and he decided "it was right" afterwards, the rest of the band's members started wearing masks.
		</p>
		<h2 class="heading-line">Career </h2>
		<h style="font-size:35px;">Films career</h>
		<p>
			In July 2013 Crahan made his directing debut with a graphic novel Officer Downe, written by Joe Casey and Chris Burnham.
			Casey wrote the script and Skip Williamson and Mark Neveldine produced the film.
		</p>
		<h style="font-size:35px;">Slipknot</h>
		<p>
			In 1995, Crahan formed a metal band known as "Meld" with fellow musician Paul Gray, which featured himself as the band's drummer.
			Wanting to expand the band's percussion section, Crahan brought in Joey Jordison to fill in as drummer while Crahan's efforts were
			focused on custom percussion, giving the band a distinct sound. In 1996, they released a song known as Slipknot, and through Joey's
			suggestion, the band changed their name to Slipknot and released their first official album, Mate. Feed. Kill. Repeat. Crahan felt
			that the original vocalist for Slipknot was too guttural and was the primary reason for Slipknot's inability to get a record deal.
			He brought in Corey Taylor from another local band called Stone Sour, whose vocals were more melodic. Slipknot got a record deal a
			couple years later and released their debut album with Roadrunner in 1999. Slipknot gained major notability the same year by touring with Ozzfest.
			In Slipknot's early years, Crahan brought several dead pig heads on stage.
		</p>
		<p>
			As well as lending his percussion talents to the band, Crahan has also sung backing vocals on a number of songs Slipknot has both recorded and
			performed live. He also wrote the original draft of "Tattered & Torn", which originally appeared on the band's first album, Mate. Feed. Kill. Repeat.
			A second version of Tattered & Torn was released on their self-titled album, and is the version that most people know.
		</p>
		<p>
			Outside Slipknot, Crahan has founded Big Orange Clown Records, a vanity label within Sanctuary Records, which has so far signed the metalcore band Gizmachi.
			He also acted as director for, and assembled Slipknot's 2005 DVD, Voliminal: Inside the Nine, while the band engaged a brief hiatus.
		</p>
		<p>
			He also performed with To My Surprise, recording guitar and vocals for the band's self-titled debut album. The band received little interest
			due to their album being released amidst the success of Slipknot members Corey Taylor, James Root and Joey Jordison's side projects, Stone Sour
			and the Murderdolls, respectively. To My Surprise was later dropped by Roadrunner Records. In 2007, Crahan began performing as drummer for Dirty Little Rabbits.
			The band was a supporting act for Stone Sour during their North American tour in Summer 2007, and have released one EP, titled Breeding. They have since
			signed a deal with The End Records as of November, 2008.
		</p>
		<p>
			In 2009 he contributed to Bring Me the Horizon's remix album, Suicide Season: Cut Up!, by remixing the track "Sleep With One Eye Open". Also in 2009 Shawn
			remixed a Suicide Silence track on their Wake Up EP entitled "Wake Up (Clown of Slipknot Remix)". In 2010, he contributed to Escape the Fate's This War Is 
			Ours deluxe edition, by remixing the track "This War Is Ours (The Guillotine Part II)" and in 2011 he remixed "Angels of Clarity" for Dead by April on their 
			compilation album "Stronger". Crahan has confirmed the formation of a brand new side project called The Black Dots of Death who released their debut studio album
			Ever Since We Were Children on March 28, 2011. He is the director of many of Slipknot's music videos, DVDs and other artistic projects. He also directed the 'We Are'
			videoclip from the band Hollywood Undead.
		</p>
		<h2 class="heading-line">Personal life</h2>
		<p>
			Crahan was born in Des Moines, Iowa in 1969, Crahan mentioned in an interview at a college that he attended private schools as a child and "never learned to share"
			because he never had any siblings. He majored in Creative Writing. Crahan's first band was "Modifidius", which he was a member with former Slipknot member Joey Jordison.
			He also once performed in bands such as "Heads on the Wall" & "One Cup of Fat" before forming "The Pale Ones", which would later become known as Slipknot.
			Crahan married his wife Chantel in June 1992, in Des Moines, Iowa. They now have four children: Alexandria, Gage, Gabrielle, and Simon. Crahan is also a filmographer
			and photographer, having published a Slipknot photo album "The Apocalyptic Nightmare" in 2012. In 2012, he also made his debut acting appearance in the film
			"The Devil's Carnival".
		</p>
		<p>
			Because Shawn has a background in welding, his drum set, which was made by Dunnet Classic Drums, is made of titanium, with an empty beer keg thrown in for variety
			in the percussion. He is also one of the co-founders of Slipknot with Paul Gray #2 and Anders Colsefni. Shawn does most of the interviews and also ran www.Slipknot2.com 
			which no longer exists. In 2003, Shawn changed his mask along with the rest of the band. He has fought Sid Wilson in some live concerts, as seen in the "Spit it Out" video.
			They are not enemies but have been described as having a brother-like relationship - only play fighting in order to get the adrenaline needed for shows. In a current Revolver
			interview where Shawn talks about Voliminal: Inside the Nine, it shows a picture where he is sitting at an orange shell Ludwig 5-piece drum set.
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
