<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | #7</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="index.html" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="../../index.html">
							00. HOME
						</a>
					</li>
					<li>
						<a href="../about.html">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="../tours.html">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="../merch.html">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/7.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Mickael Gordon Thomson</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">November 3, 1973</p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">1996-present</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">#7</p>

			<p style="font-weight: bold">Position</p>
			<p>Guitarist</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Mick Thomson</h2>
		<p>
			Mickael Gordon Thomson (born November 3, 1973), known as Mick Thomson or by #7, is the lead guitarist of Slipknot, the nine-member heavy metal band from Des Moines, Iowa.</p>
		<h2 class="heading-line"> Life and career </h2>
		<h style="font-size:35px;">Career</h>
		<p>
			His early career in music started in bands such as Body Pit, which included other members who were to be in Slipknot. He joined Slipknot under a recommendation
			from Joey Jordison, and replaced Craig Jones on guitar, who moved to samples/media. Although credited as being on the album, Mick had nothing to do with Mate.
			Feed. Kill. Repeat.. He also denies the existence of Crowz, saying that "the secret album everyone talks about is just a bunch of leaked demo tapes and stuff."
		</p>
		<h style="font-size:35px;">Personal life</h>
		<p>
			On October 5th 2012 he married his longtime girlfriend, Stacey Riley. 
			At 6"3, he is the second tallest member of Slipknot, behind #4 Jim Root.
			His guitar techniques involve extremely fast alternate strumming and down-picking,
			and he is often seen as more the 'lead' guitarist of the two (Jim Root is more seen as 'rhythmic' guitar).
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
