<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | #8</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/8.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Corey Todd Taylor</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">December 8, 1973</p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">1997-present</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">#8</p>

			<p style="font-weight: bold">Position</p>
			<p>Lead Vocalist</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Corey Taylor </h2>
		<p>
			Corey Todd Taylor (born December 8, 1973) is an American musician best known as the lead vocalist and lyricist of Slipknot and Stone Sour.</p>
		<p>
			Corey Taylor is a founding member of Stone Sour, and has released six studio albums with them.
			Taylor joined Slipknot in 1997 to replace their original singer, Anders Colsefni. He has released six studio albums with Slipknot.
			He has also worked with several other bands, including Junk Beer Kidnap Band, Apocalyptica, Anthrax, Aaron Lewis of Staind and Soulfly.
			Taylor was ranked number 86 in Hit Parader's Top 100 Metal Vocalists of All Time.
		</p>
		<h2 class="heading-line"> Life and career </h2>
		<h style="font-size:35px;"> Early and Personal Life </h>
		<p>
			Corey Taylor, born December 8th 1973, is the lead singer of the Nu-Metal band Slipknot, and also vocalist, and occasional guitarist of Stone Sour,
			The latter being formed prior to the commercial success of Slipknot.
			At a young age Corey liked to get down to the likes of "The King" - Elvis, due to influences from his grandmother. "Elvis was a great singer".
			His grandmother also helped him with buying equipment and his talent for music. During Corey's youth he and some friends often talked about a burnt out old house
			that they dared not go near. Then one night they all decided to make their way towards the house; to their surprise it was all lit up and after hearing noises they
			ran screaming. Before he joined the Slipknot, he worked in a sex shop to earn money. On stage he is loud, fast, and out of control.
			Offstage, he seems very calm, and down to earth. Before Slipknot he was part of the band, Stone Sour, Corey loves comedy albums, which he grew up on.
			As a child he was homeless for a while, the song and video for "Left Behind" was inspired by that time. He first met his father on March 28th, 2005
			and the two formed a strong relationship. Taylor has been married once before and has 2 children, one Griffin Parker born Born September 17th, 2002 and Angeline,
			born in 1992 from an old relationship. Taylor and his now ex-wife Skarlett Stone divorced in 2007 after a 3 years marriage.
		</p>
		<h style="font-size:35px;"> Battles with alcoholism</h>
		<p>
			Being known as "The guy that was always ready to go out and do shots", Taylor's drinking became more problematic as time went by.
			Eventually, it reached a point where Taylor would begin to drink as soon as he got up in the morning and generally would not stop until blacking out.
			According to Taylor, the problem began to eat away at his family life as he became more and more apathetic to the people and things surrounding him.
			Taylor finally made several attempts at suicide. All this culminating to the night of November 14th, 2003. On this night, Taylor was about to jump off 
			the 8 story balcony of the Hyyat on Sunset Boulevard. Skarlett, his wife at the time, managed to talk him down.
			After this incident Skarlett told him either he had to sober up, and start being a father and husband or she was leaving with their kids.
			Taylor chose to quit drinking and go sober rather than lose his family. The next year would prove the be "The Worst Year Of His Life"
			as Taylor struggled to redefine himself as a person and give up his partying persona and repair the damage that he had done to his body.
			He spent the year in "Self-Imposed Isolation", claiming that he "Pushed his wife away for a while and was a really selfish, cold dick".
			In the process, the struggle would fuel some of his songs with Stone Sour, such as "Socio" and "Zzyzx Rd".
			Finally, Taylor would come to grips with his sobriety and began to use it as a source of inspiration.
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
