<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | J</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/tours">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/J.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Jay Akash Weinburgeg</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">September 8, 1990</p>
			
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">2014-present</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">J</p>

			<p style="font-weight: bold">Position</p>
			<p>Drummer</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Jay Weinberg</h2>
		<p>
			Jay Weinberg (born September 8, 1990) is the current drummer for Slipknot. He is sometimes referred to as "Ballbag" by Corey Taylor and is also called "Jpeg" during the ZERO BULLSHIT stage in "Spit It Out". He is the youngest member of the band.</p>
		<h2 class="heading-line"> Life and career </h2>
		<h style="font-size:35px;">Early Life </h>
		<p>
			Jay was born on September 8th, 1990 to drummer Max Weinberg and teacher Rebecca 'Becky' Schnick. He grew up in Middletown Township, New Jersey.<br>
			He began playing guitar at age 9 then began learning bass at age 12 or 13. He then began playing drums at the age of 14, he is mostly self taught
			and did get some learning from his father but not much, but he used his dad's old drum kit.
		</p>
		<h style="font-size:35px;">Slipknot</h>
		<p>
			Sometime after drummer Joey Jordison was fired, he auditioned for Slipknot to which it was successful. When he was announced along with new bassist Alessandro Venturella
			in 2014, their identities were kept secret from the public as they were only touring members and had not become official members at that point.<br>
			Sometime after joining, his identity was leaked along with Alessandro Venturella's. (although his was already revealed because fans recognised the tattoos on his hands)
			by a fired drum technician. He was later revealed to be the drummer by Jim Root in May 2015.
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
