<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | -</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/M.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Michael Pfaff</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">May 17, 1980</p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">2019-present</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">-</p>

			<p style="font-weight: bold">Position</p>
			<p>Percussions, Backing Vocals</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Michael Pfaff</h2>
		<p>
			Michael Pfaff (born May 17, 1980[1]) also known as New Guy or Tortilla Man, is Slipknot's newest member. He replaced Chris Fehn, who left the band in March 2019.</p>
		<h2 class="heading-line"> Life and career </h2>
		<h style="font-size:35px;">Early Life </h>
		<p>
			He was known for being the keyboard player for Shawn Crahan's other band Dirty Little Rabbits before joining Slipknot with the two being introduced to each other by DJ Sid Wilson.
		</p>
		<h style="font-size:35px;">Slipknot</h>
		<p>
			After long time percussionist Chris Fehn was fired from the band, Michael was working his day job when he got a call from Shawn asking him to join the band to which Pfaff accepted.<br>
			Like other members Jay Weinberg and Alex Venturella his identity was kept a secret due to him only being a touring member of this time. He was nicknamed Tortilla Man
			by fans due to the texture of his mask looking similar to a tortilla. However, fans on the website Reddit were later able to identify him as Michael Pfaff by the way
			he moves on stage, his height, and due to the fact that he is bald. And on March 16, 2022 Slipknot officially revealed Tortilla Man's identity to be Michael Pfaff.
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
