<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members | V</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="infobox">
		<img class="infobox-img" src="../../images/members/V.jpg">
		<!-- PERSONAL INFO -->
		<div class="infobox-heading">
			<h>Personal</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Name</p>
			<p class="infobox-bottom">Alessandro Giovanni Venturella</p>

			<p style="font-weight: bold">Born</p>
			<p class="infobox-bottom">April 12, 1984</p>
		</div>
		<!-- IN SLIPKNOT INFO -->
		<div class="infobox-heading">
			<h>In Slipknot</h>
		</div>
		<div class="infobox-text">
			<p style="font-weight: bold">Years Active</p>
			<p class="infobox-bottom">2014-present</p>

			<p style="font-weight: bold">Number/Letter</p>
			<p class="infobox-bottom">V</p>

			<p style="font-weight: bold">Position</p>
			<p>Bassist</p>
		</div>
	</div>
	<!-- END INFO BOX -->

	<!-- TEXT START -->
	<div class="members-text">
		<h2 class="heading-line">Alex Venturella</h2>
		<p>
			Alessandro "Alex" Giovanni Venturella[1] (born April 12, 1984) is the current bassist for Slipknot, filling in the spot made by Paul Gray after his death and Donnie Steele after his departure.</p>
		<h2 class="heading-line">Joining the Band </h2>
		<p>
			Venturella was one of the new additions to the band along with Jay Weinberg, and along with Jay, his identity was kept secret from fans as he wasn't a full member at the time.
			However, fans eventually used the music video for "The Devil In I" to leak his identity due to the tattoos on his hand.
		</p>
	</div>
	<!-- TEXT END -->
  <footer>
  	<a style="color:white;"href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
  </footer>
</body>
</html>
