<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | About</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../images\icon.png"/>
	<link rel="stylesheet" href="../assets/custom/style.css">
	<script src="../main.js"></script>

</head>
<body background="../images\img2.jpg">
  <header>
			<a class="logo" href="/home"><img class="logo" src="../images\band.png" alt="logo"></a>
			<nav class="nav-left">
				<div class="nav-inner">
					<ul>
						<li style= "margin-bottom: 20px">
							<a href="/index.php/home">
								00. HOME
							</a>
						</li>
						<li>
							<a href="/index.php/tours">
								02. TOURS
						</li>
					</ul>
				</div>
			</nav>
			<img style="margin-left: 10rem;" src="../images/nona.gif" alt="nonagramm">
			<nav class="nav-right">
				<div class="nav-inner">
					<ul>
						<li style= "margin-bottom: 20px">
							<a href="/index.php/merch">
								03. MERCH
							</a>
						</li>
						<li>
							<a href="/index.php/members">
								04. MEMBERS
							</a>
						</li>
					</ul>
				</div>
			</nav>
	</header>
		<div class="about-text">
			<p style="font-size: 38px; font-weight: bold">About the Band</p>
			<p>
				Slipknot is an American heavy metal band formed in Des Moines, Iowa, in 1995 by percussionist Shawn Crahan,
				drummer Joey Jordison and bassist Paul Gray. After several lineup changes in its early years,
				the band settled on nine members for more than a decade: Crahan, Jordison, Gray,
				Craig Jones, Mick Thomson, Corey Taylor, Sid Wilson, Chris Fehn, and Jim Root.
				Bassist Gray died on May 24, 2010, and was replaced during 2011-2014 by Donnie Steele.
				<button class="button1" onclick="toggleText()">Mehr lesen</button>
			</p>
			<div id="toggle" style="display:none">
				<p>
					Jordison was dismissed from the band on December 12, 2013. Steele left during the recording sessions for .5: The Gray Chapter.
					The band found replacements in Alessandro Venturella on bass and Jay Weinberg on drums. After the departure of Jordison,
					as of December 2013 the only founding member in the current lineup is percussionist Crahan.
					Fehn was also dismissed from the band in March 2019 prior to the writing of We Are Not Your Kind and was replaced by Michael Pfaff.
					Slipknot is well known for its attention-grabbing image, aggressive style of music, and energetic and chaotic live shows.
					The band rapidly rose to fame following the release of their eponymous debut album in 1999. The 2001 follow-up album, Iowa, although darker in tone, made the band more popular.
					After a brief hiatus, Slipknot returned in 2004 with Vol. 3: (The Subliminal Verses), before going on another hiatus and returning in 2008 with its fourth album,
					All Hope Is Gone, which debuted at number one on the US Billboard 200 chart. After another long hiatus, Slipknot released its fifth studio album, .5: The Gray Chapter, in 2014.
					Their sixth studio album, We Are Not Your Kind, was released on August 9, 2019. Their seventh studio album, The End, So Far, was released on September 30, 2022.
					The band has released two live albums titled 9.0: Live and Day of the Gusano: Live in Mexico, a compilation album titled Antennas to Hell, and five live DVDs.
					The band has sold 30 million records worldwide.
				</p>
			</div>
		</div>

		<div class="about-text" style="margin-top: 10px;">
			<p style="font-size: 38px; font-weight: bold">Current and past Members</p>
			<div style="margin-left: 10px">
				<p>⓪ <a class="index-refs" href="/index.php/members/0.html">Sid Wilson</a> (DJ) <span class="members-current">original, current</span> </p>
				<p>① <a class="index-refs" href="/index.php/members/1.html">Joey Jordison</a> <abbr title="deceased">†</abbr> (Drums) <span class="members-current">original</span></p>
				<p>② <a class="index-refs" href="/index.php/members/2.html">Paul Gray</a> <abbr title="deceased">†</abbr> (Bass) <span class="members-current">original</span></p>
				<p>③ <a class="index-refs" href="/index.php/members/3.html">Chris Fehn</a> (Percussion) <span class="members-current">original</span></p>
				<p>④ <a class="index-refs" href="/index.php/members/4.html">Jim Root</a> (Guitar) <span class="members-current">original, current</span></p>
				<p>⑤ <a class="index-refs" href="/index.php/members/5.html">Craig Jones</a> (Sampler) <span class="members-current">original, current</span></p>
				<p>⑥ <a class="index-refs" href="/index.php/members/6.html">Shawn Crahan</a> (Percussion) <span class="members-current">original, current</span></p>
				<p>⑦ <a class="index-refs" href="/index.php/members/7.html">Mick Thomson</a> (Guitar) <span class="members-current">original, current</span></p>
				<p>⑧ <a class="index-refs" href="/index.php/members/8.html">Corey Taylor</a> (Vocals) <span class="members-current">original, current</span></p>
				<p>Ⓙ <a class="index-refs" href="/index.php/members/J.html">Jay Weinberg</a> (drums) <span class="members-current">current</span></p>
				<p>Ⓥ <a class="index-refs" href="/index.php/members/V.html">Alex Venturella</a> (Bass) <span class="members-current">current</span></p>
				<p>-  <a class="index-refs" href="/index.php/members/M.html">Michael Pfaff</a> (Percussion, backing Vocals) <span class="members-current">current</span></p>
			</div>
		</div>
		<div class="about-heading">
		<p>Featured Songs</p>
		</div>
		<div class="songs">
			<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3RAFcUBrCNaboRXoP3S5t1?utm_source=generator&theme=0" align="center" width="40%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> <br>
			<br>
			<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6rsoBvxrlxdmqJyGPPciyq?utm_source=generator" align="center" width="40%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
			<br>
			<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1g8lVIsEkDaGD1nKw6fwUb?utm_source=generator" align="center" width="40%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
		</div>
		<div class="about-discography">
			<p style="font-size:40px; font-weight:bold;"> Discography </p>
			<table width="100%" border="0" cellpadding="4" cellspacing="2">
				<tr>
					<td width="25%"><h4>Mate. Feed. Kill. Repeat<br><small> (1996)</small></h4></td>
					<td><h4>Slipknot<br><small> (1999)</small></h4></td>
					<td><h4>Iowa<br><small> (2001)</small></h4></td>
					<td><h4>Vol. 3: The Subliminal Verses<br><small>(2004)</small></h4></td>
				</tr>
				<tr>
					<td width="25%"><img style="width:300px;height:300px;" src="../images/covers/mfkr.jpg"></td>
					<td><a target="_blank" href="https://open.spotify.com/intl-de/album/2dL9Q5AtIv4Rw1L6lKcIUc"><img style="width:300px;height:300px;" src="../images/covers/slipknot.jpg"></a></td>
					<td><a target="_blank" href="https://open.spotify.com/intl-de/album/5Zs0mNCTs73CqPKbZPWFX9"><img style="width:300px;height:300px;" src="../images/covers/iowa.jpg"></a></td>
					<td><a target="_blank" href="https://open.spotify.com/intl-de/album/4ZDBQSIDIZRUBOG2OHcN3T"><img style="width:300px;height:300px;" src="../images/covers/subliminalverses.jpg"></a></td>
				</tr>
				<tr>
					<td width="25%"><h4>All Hope Is Gone<br><small>(2008)</small></h4></td>
					<td><h4>.5: The Gray Chapter<br><small>(2014)</small></h4></td>
					<td><h4>We Are Not Your Kind<br><small>(2019)</small></h4></td>
					<td><h4>The End, So Far<br><small>(2022)</small></h4></td>  
				</tr>
				<tr>
					<td width="25%"><a target="_blank" href="https://open.spotify.com/intl-de/album/0hFWapnP7orzXCMwNU5DuA"><img style="width:300px;height:300px;" src="../images/covers/ahig.jpg"></a></td>
					<td><a target="_blank" href="https://open.spotify.com/intl-de/album/3nyxMohQINxnhYwyHvUqVf"><img style="width:300px;height:300px;" src="../images/covers/graychapter.jpg"></a></td>
					<td><a target="_blank" href="https://open.spotify.com/intl-de/album/754RY5WpZ2LTUZsk8kDBju"><img style="width:300px;height:300px;" src="../images/covers/wanyk.png"></a></td>
					<td><a target="_blank" href="https://open.spotify.com/intl-de/album/3hWTXO0w02D6YpVRyLRmQz"><img style="width:300px;height:300px;" src="../images/covers/theendsofar.jpg"></a></td>
				</tr>
			</table>
		</div>
<footer>
	<div class="socialmedia">
		<a target="_blank" href="https://open.spotify.com/intl-de/artist/05fG473iIaoy82BF1aGhL8"><img class="spotify" src="../../images/icons/spotify.png" alt="spotify"></a>
		<div class="gap"></div>
		<a target="_blank" href="https://www.youtube.com/channel/UCOJZ1tna8yj8mAEITPkHNCQ"><img class="youtube" src="../../images/icons/youtube.png" alt="youtube"></a>
		<div class="gap"></div>
		<a target="_blank" href="https://twitter.com/slipknot"><img class="twitter" src="../../images/icons/twitter.png" alt="twitter"></a>
		<div class="gap"></div>
		<a target="_blank" href="https://www.facebook.com/slipknot/"><img class="facebook" src="../../images/icons/facebook.png" alt="facebook"></a>
		<div class="gap"></div>
		<a target="_blank" href="https://www.instagram.com/slipknot/"><img class="instagram" src="../../images/icons/instagram.png" alt="instagram"></a>
		<div class="gap"></div>
		<a target="_blank" href="https://music.apple.com/de/artist/slipknot/6907568"><img class="apple" src="../../images/icons/apple.png" alt="apple"></a>
		<div class="gap"></div>
	</div>
	<a style="color:white;" target="_blank" href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
	<a style="color:white;" href="/index.php/impressum"><p>Impressum</p></a>
</footer>
</body>
</html>
