<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Members</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../../images/icon.png"/>
	<link rel="stylesheet" href="../../assets/custom/style.css">
	<script src="../../main.js"></script>
</head>

<body background="../../images/img6.jpg">
	<header>
			<img class="logo" href="/index.php/home" src="../../images/band.png" alt="logo">
		<nav class="nav-left">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/home">
							00. HOME
						</a>
					</li>
					<li>
						<a href="/index.php/about">
							01. ABOUT
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<img style="margin-left: 10rem;" src="../../images/nona.gif" alt="nonagramm">
		<nav class="nav-right">
			<div class="nav-inner">
				<ul>
					<li style= "margin-bottom: 20px">
						<a href="/index.php/tours">
							02. TOURS
						</a>
					</li>
					<li>
						<a href="/index.php/merch">
							03. MERCH
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="about-text" style="margin-top: 10px;">
		<p style="font-size: 38px; font-weight: bold">Current and past Members</p>
		<p style="font-size: 24px;">
			By clicking the names below you will be directed to the members page containing information about their lifes in- and outside of slipknot.<br>
			The list contains <span style="font-weight: bold;">only</span> the original(<span class="members-current">original</span>)
			and the current(<span class="members-current">current</span>) members, not the ones between.
		</p>
		<br>
		<div style="margin-left: 10px">
			<p>⓪ <a class="index-refs" href="/index.php/members/0">Sid Wilson</a> (DJ) <span class="members-current">original, current</span> </p>
			<p>① <a class="index-refs" href="/index.php/members/1">Joey Jordison</a> <abbr title="deceased">†</abbr> (Drums) <span class="members-current">original</span></p>
			<p>② <a class="index-refs" href="/index.php/members/2">Paul Gray</a> <abbr title="deceased">†</abbr> (Bass) <span class="members-current">original</span></p>
			<p>③ <a class="index-refs" href="/index.php/members/3">Chris Fehn</a> (Percussion) <span class="members-current">original</span></p>
			<p>④ <a class="index-refs" href="/index.php/members/4">Jim Root</a> (Guitar) <span class="members-current">original, current</span></p>
			<p>⑤ <a class="index-refs" href="/index.php/members/5">Craig Jones</a> (Sampler) <span class="members-current">original, current</span></p>
			<p>⑥ <a class="index-refs" href="/index.php/members/6">Shawn Crahan</a> (Percussion) <span class="members-current">original, current</span></p>
			<p>⑦ <a class="index-refs" href="/index.php/members/7">Mick Thomson</a> (Guitar) <span class="members-current">original, current</span></p>
			<p>⑧ <a class="index-refs" href="/index.php/members/8">Corey Taylor</a> (Vocals) <span class="members-current">original, current</span></p>
			<p>Ⓙ <a class="index-refs" href="/index.php/members/J">Jay Weinberg</a> (drums) <span class="members-current">current</span></p>
			<p>Ⓥ <a class="index-refs" href="/index.php/members/V">Alex Venturella</a> (Bass) <span class="members-current">current</span></p>
			<p>-  <a class="index-refs" href="/index.php/members/M">Michael Pfaff</a> (Percussion, backing Vocals) <span class="members-current">current</span></p>
		</div>
	</div>


	<footer>
		<div class="socialmedia">
			<a target="_blank" href="https://open.spotify.com/intl-de/artist/05fG473iIaoy82BF1aGhL8"><img class="spotify" src="../../../images/icons/spotify.png" alt="spotify"></a> 
			<div class="gap"></div>
			<a target="_blank" href="https://www.youtube.com/channel/UCOJZ1tna8yj8mAEITPkHNCQ"><img class="youtube" src="../../../images/icons/youtube.png" alt="youtube"></a> 
			<div class="gap"></div>
			<a target="_blank" href="https://twitter.com/slipknot"><img class="twitter" src="../../../images/icons/twitter.png" alt="twitter"></a>< 
			<div class="gap"></div>
			<a target="_blank" href="https://www.facebook.com/slipknot/"><img class="facebook" src="../../../images/icons/facebook.png" alt="facebook"></a>
			<div class="gap"></div>
			<a target="_blank" href="https://www.instagram.com/slipknot/"><img class="instagram" src="../../../images/icons/instagram.png" alt="instagram"></a>< 
			<div class="gap"></div>
			<a target="_blank" href="https://music.apple.com/de/artist/slipknot/6907568"><img class="apple" src="../../../images/icons/apple.png" alt="apple"></a> 
			<div class="gap"></div>
		</div>
		<a style="color:white;" target="_blank" href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
		<a style="color:white;" href="/index.php/impressum"><p>Impressum</p></a>
	</footer>
</body>
</html>
