<!DOCTYPE html>
<html>
<head>
	<title>Slipknot | Tours</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../images\icon.png"/>
	<link rel="stylesheet" href="../assets/custom/style.css">
	<script src="main.js"></script>
</head>
<body style="background-size:100%" background="../images\img4.jpg">
  <header>
			<a class="logo" href="/index.php/home"><img class="logo" src="../images\band.png" alt="logo"></a>
			<nav class="nav-left">
				<div class="nav-inner">
					<ul>
						<li style= "margin-bottom: 20px">
							<a href="/index.php/home">
								00. HOME
							</a>
						</li>
						<li>
							<a href="/index.php/about">
								01. ABOUT
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<img style="margin-left: 10rem;" src="../images/nona.gif" alt="nonagramm">
			<nav class="nav-right">
				<div class="nav-inner">
					<ul>
						<li style= "margin-bottom: 20px">
							<a href="/index.php/merch">
								03. MERCH
							</a>
						</li>
						<li>
							<a href="/index.php/members">
								04. MEMBERS
							</a>
						</li>
					</ul>
				</div>
			</nav>
	</header>

	<table class="tourtable" cellspacing="8">
		<caption>
			<h2 class="caption"> The End, So Far Tour </h2>
		</caption>

    <tr>
      <th>Tour Dates</th>
      <th>Locations</th>
    </tr>
    <tr align="center">
      <td>May 18, 2023</td>
      <td>Daytona Beach, FL</td>
    </tr>
    <tr align="center">
      <td>Jun 7, 2023</td>
      <td>Nickelsdorf, Austria</td>
    </tr>
    <tr align="center">
      <td>Jun 8, 2023</td>
      <td>Hradec Kralove, Czechia</td>
    </tr>
    <tr align="center">
      <td>Jun 10, 2023</td>
      <td>Interlaken, Switzerland</td>
    </tr>
    <tr align="center">
      <td>Jun 11, 2023</td>
      <td>Castle Donington, UK</td>
    </tr>
    <tr align="center">
      <td>Jun 13, 2023</td>
      <td>Amsterdam, Netherlands</td>
    </tr>
    <tr align="center">
      <td>Jun 14, 2023</td>
      <td>Esch-sur-Alzette, Luxembourg</td>
    </tr>
    <tr align="center">
      <td>Jun 16, 2023</td>
      <td>Copenhagen, Denmark</td>
    </tr>
    <tr align="center">
      <td>Jun 17, 2023</td>
      <td>Dessel, Belgium</td>
    </tr>
    <tr align="center">
      <td>Jun 18, 2023</td>
      <td>Clisson, France</td>
    </tr>
	<tr align="center">
		<td>Jun 20, 2023</td>
		<td>Hamburg, Germany</td>
	</tr>
	<tr align="center">
		<td>Jun 21, 2023</td>
		<td>Berlin, Germany</td>
	</tr>
	<tr align="center">
		<td>Jun 23, 2023</td>
		<td>Hockenheim, Germany</td>
	</tr>
	<tr align="center">
		<td>Jun 24, 2023</td>
		<td>Munich, Germany</td>
	</tr>
	<tr align="center">
		<td>Jun 25, 2023</td>
		<td>Bologna, Italy (KNOTFEST)</td>
	</tr>
	<tr align="center">
		<td>Jun 27, 2023</td>
		<td>Nîmes, France</td>
	</tr>

	</table>

	<footer>
		<div class="socialmedia">
			<a target="_blank" href="https://open.spotify.com/intl-de/artist/05fG473iIaoy82BF1aGhL8"><img class="spotify" src="../../images/icons/spotify.png" alt="spotify"></a>
			<div class="gap"></div>
			<a target="_blank" href="https://www.youtube.com/channel/UCOJZ1tna8yj8mAEITPkHNCQ"><img class="youtube" src="../../images/icons/youtube.png" alt="youtube"></a>
			<div class="gap"></div>
			<a target="_blank" href="https://twitter.com/slipknot"><img class="twitter" src="../../images/icons/twitter.png" alt="twitter"></a>
			<div class="gap"></div>
			<a target="_blank" href="https://www.facebook.com/slipknot/"><img class="facebook" src="../../images/icons/facebook.png" alt="facebook"></a>
			<div class="gap"></div>
			<a target="_blank" href="https://www.instagram.com/slipknot/"><img class="instagram" src="../../images/icons/instagram.png" alt="instagram"></a>
			<div class="gap"></div>
			<a target="_blank" href="https://music.apple.com/de/artist/slipknot/6907568"><img class="apple" src="../../images/icons/apple.png" alt="apple"></a>
			<div class="gap"></div>
		</div>
		<a style="color:white;" target="_blank" href="https://slipknot1.com/"><p>&copy; 2023 Slipknot</p></a>
		<a style="color:white;" href="/index.php/impressum"><p>Impressum</p></a>
	</footer>
</body>
</html>
